fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
python-dotenv
httpx
aiohttp
azure-keyvault-secrets
azure-identity
bcrypt
python-jose[cryptography]
websockets
aiocache[redis]>=0.12.0
fastapi-utils>=0.2.1
